* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

.alignChildren {
    font-size: 0;
}

.alignChildren > * {
    display: inline-block;
    font-size: medium;
    vertical-align: top;
}

.gitTit {
	display: block;
	background: url('https://c2.staticflickr.com/4/3142/2281234952_3aebe58d96_b.jpg');
	background-size: 100%;
	background-position: 20% 40%;
	width: 90%;
	height: 125px;
	margin: auto;
	color: white;
	position: relative;
	border-radius: 5px;
}

input {
	position: absolute;
	bottom: 15px;
	left: 15px;
	font-size: 20px;	
}


h1 {
	position: absolute;
	top: -50px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 4em;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.8) 0px 3px 3px;
}

h2 {
	position: absolute;
	right: 0;
	bottom: 0;
	display: inline-block;
	padding-right:10%;
	margin: 0 10px;
	text-align: right;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    /*color: transparent;*/
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}

.logo{
	position: absolute;
	width: 100px;
	opacity: 0.6;
	right: 15px;
	top: 0;
	/*transform: translate(50%, 0);*/
}


.backgroundGradient {
	background-color: #39474E;
	background-image: linear-gradient(rgba(0, 0, 0, 0.2));

}

#container {
	width: 100%;
	margin: .1% 5%;
}


.left {
	width: 29%;
}

.profilePic {
	margin: 0 05%;
	border-radius: 30px;
	width: 80%;
	margin: 15px auto;
	box-shadow: 0 8px 30px -6px #39474E;


}


ul {
	width:100%;
	padding: 0;
	list-style-type: none;}

li {
	padding: 0;
	margin: 0;
	max-width: 200px;
    background-color: black; 
	border: rgba(255,255,255,0.5);
	font-size: 1em;
	list-style-type: none;
	line-height: 30px;
    text-decoration: none;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;

}
 
li:hover {
    text-decoration: none;
    color: #000000;
    background-color: rgba(51,51,51,0.85);
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;

}

.box {
	position: relative;
	border-radius: 5px;
	box-shadow: 0 8px 30px 0 #39474E;
	margin: 0 5%;
	font-size: 1em;
	width: 20%;
	text-align: center;
	display: inline-block;
}

.box:hover {
    text-decoration: none;
    color: white;
    background-color: rgba(51,51,51,0.85);
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}


p .text {
	color: white;
	top: 0;
	left: 0;
}


.box .text {
	position:absolute;
	display:none;
	top: 10px;
	transition: 2s all ease;

}

.box:hover .text {
	display:inline-block;
	background-color: rgba(51,51,51,0.85);
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}

.fa {
 	border: 1px solid transparent;
	border-radius: 5px;
	box-shadow: 0 8px 30px -6px #39474E;
	margin: 0;
	font-size: 15px;
	color: black;
}

.right {
	width:60%;
	overflow:auto;
	height: 70vh;
	overflow-x: hidden;

}

.repoList {
	font-family: monospace;
	font-size: 17px;
	padding:0 0 10px 10px;
	width: 90%;
	color: #39474E;
	margin: auto;
	text-align: left;
	border-radius: 10px;
	margin-bottom: 5px;
	box-shadow: 0 8px 30px -6px #39474E;
}

h4 {
	color: #120F8C;
}

a {
	text-decoration: none;
}


.foot {
	position: absolute;
	background: linear-gradient(rgba(0, 0, 0, 0),rgba(168,182,191,1) );
	height: 150px;
	width: 100%;
	bottom:0px;
}


/*rgba(168,182,191,0)*/
/*.animate-area	{ 
	background-image: url(twitter-logo-bird.png), url(treehouseFrog.png), url(bg-clouds.png);
	background-position: 20px -90px, 30px 80px, 0px 0px;
	background-repeat: no-repeat, no-repeat, repeat-x;
}

@keyframes animatedBird {
	from { background-position: 20px 20px, 30px 80px, 0 0; }
	to { background-position: 300px -90px, 30px 20px, 100% 0; }
}
		
.animate-area	{ 
	animation: animatedBird 4s linear infinite;
}
*/

@media screen and (max-width: 450px) {

  #container {
  	display: block;
    width: 100%;
  }
}